/* Center-align the pagination links */
.pagination {
    text-align: center;
}

/* Style for the pagination links */
.pagination a {
    color: black; /* Set text color to black */
    text-decoration: none; /* Remove underline from links */
    padding: 8px 15px; /* Add padding around the links */
    display: inline-block; /* Display links as inline-block elements */
}

/* Style for the active pagination link */
.pagination a.active {
    background-color: greenyellow; /* Set background color for active link */
    font-weight: bold; /* Make the text bold for active link */
    border-radius: 5px; /* Add border radius to create rounded corners */
}

/* Hover effect for pagination links */
.pagination a:hover:not(.active) {
    background-color: lightgrey; /* Change background color on hover */
    border-radius: 5px; /* Add border radius to create rounded corners */
}
